<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/passwordCheck.js"></script>
</head>
<body>
    <div class="grid-bottom"></div>
    
    <div class="profile-container">
        <h2 class="profile-title">aetas</h2>
        <div class="content-section" style="padding-bottom: 0px;">
            <p class="profile-description">The aetas project is a compact device designed to fit within a physical planner, equipped with a sensitive touchscreen sensor that detects handwritten entries in real time. the device captures this written information, converts it into digital text, and automatically syncs it with an online calendar, such as Google Calendar.<br>
                <br>
                <br>
                The goal of this project is to provide a streamlined and user-friendly solution for the individuals who rely on both physical and digital planning systems. by merging the traditional with the modern, this device offers a unique way to simplify scheduling, improve accuracy, and enhance productivity. Whether for busy professionals, students, or anyone juggling multiple commitmemts, this device has the potential to transform how people organize their lives.</p>
            <div class="profile-image" style="margin-top: 0;">
                <img src="/static/aetas prototype main.jpg" alt="lab1port" style="height:250; position: absolute; top: 0px; right: 50px; margin-bottom:40px;">
            </div>
        </div>
        <div class="image-grid-2" style="padding-top:40px; height: 600px; margin-bottom:60px;">
            <div class="profile-image" style="margin-top: 0; width: 440px;">
                <img src="/static/aetas prototype page.jpg" alt="lab1port" style="width:400px; position: absolute; top: 0; left: 20px; padding-bottom: 40px;">
            </div>
            <div class="content-section" style="width: 400px;">
                <h3><br><br><br>highlights:</h3>
                <p class="profile-description"><br><br><br><br>- a precise sensor that will detect writing. <br>
                                               - two dials indicating the day and month for the user to determine when their event will be held.<br>
                                               - the mobile app will allow users to link their gmail to add their entries.<br>
                                               - the app will communicate with the device via bluetooth and will process the data received. this processing will result in the user's handwriting being turned to text and added to their google calendar.</p>
            </div>
            <div class="profile-image" style="margin-top: 0;">
                <img src="/static/senior design thing.png" alt="lab1port" style="height: 250px; position: absolute; top: 130px; right:0px; padding-bottom: 40px;">
            </div>

            
        </div>
        <div class="bottom-text-container">
            <a href="/" class="bottom-text">aeris</a>
            <a href="/logs" class="bottom-text">logs</a>
        </div>
    </div>


    <nav class="nav-container">
        <a href= "/" class="home-link">aeris</a>
        <div class="nav-buttons">
            <div class="dropdown">
                <button class="dropdown-btn">who we are</button>
                <div class="dropdown-content">
                    <a href="/static/elizabeth.html">elizabeth</a>
                    <a href="/static/gavin.html">gavin</a>
                    <a href="/static/kaylee.html">kaylee</a>
                    <a href="/static/luke.html">luke</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">our projects</button>
                <div class="dropdown-content">
                    <a href="#" id="aetas-link">aetas</a>
                    <a href="#" id="lab1-link">lab one</a>
                    <a href="#" id="lab2-link">lab two</a>
                    <a href="#" id="lab3-link">lab three</a>
                </div>
            </div>
        </div>
    </nav>

</body>
</html>