<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab three summary</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/passwordCheck.js"></script>
</head>
<body>
    <div class="grid-bottom"></div>
    
    <div class="profile-container">
        <h2 class="profile-title">lab three</h2>
        <div class="content-section" style="padding-bottom: 0px;">
            <p class="profile-description">The Lab 3 project is to create a portfolio website for our Senior Design group to show off our group and what we have done. The website also includes a contact form and some password-protected content.<br>
                <br>
                <br>
                Key features include website creation through HTML, CSS, and JavaScript from scratch. Our design also implements Python's Flask for local hosting and advanced password functionality. The website is hosted through Heroku's available services and ease of integration with Flask's interface. There is also an admin-only Python program for changing the password to protected content.</p>
            <div class="image-border" style="margin-top: 0;">
                <img src="/static/code.png" alt="lab1port" style="height:250; position: absolute; top: 0px; right: 50px; margin-bottom:40px;">
            </div>
        </div>
        <div class="image-grid-2" style="padding-top:40px; height: 600px; margin-bottom:60px;">
            <div class="image-border" style="margin-top: 0; width: 440px;">
                <img src="/static/homepage2.png" alt="lab1port" style="width:400px; position: absolute; top: 0; left: 20px; padding-bottom: 40px;">
            </div>
            <div class="content-section" style="width: 400px;">
                <h3><br><br><br>highlights:</h3>
                <p class="profile-description"><br>- includes a pleasing UI and easy-to-use interface. <br>
                                               - it showcases each member and the projects of team Aeris.<br>
                                               - messages that get logged onto the website.<br>
                                               - password protected content that is available once password is given once per session.
                                               </p>
            </div>
            <div class="image-border" style="margin-top: 0;">
                <img src="/static/homepage3.png" alt="lab1port" style="height: 250px; position: absolute; top: 190px; right:0px; padding-bottom: 40px;">
            </div>

            
        </div>
        <div class="bottom-text-container">
            <a href="/" class="bottom-text">aeris</a>
            <a href="/logs" id="logs-link" class="bottom-text">logs</a>
        </div>
    </div>

    <nav class="nav-container">
        <a href= "/" class="home-link">aeris</a>
        <div class="nav-buttons">
            <div class="dropdown">
                <button class="dropdown-btn">who we are</button>
                <div class="dropdown-content">
                    <a href="/static/elizabeth.html">elizabeth</a>
                    <a href="/static/gavin.html">gavin</a>
                    <a href="/static/kaylee.html">kaylee</a>
                    <a href="/static/luke.html">luke</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">our projects</button>
                <div class="dropdown-content">
                    <a href="#" id="aetas-link">aetas</a>
                    <a href="#" id="lab1-link">lab one</a>
                    <a href="#" id="lab2-link">lab two</a>
                    <a href="#" id="lab3-link">lab three</a>
                    
                </div>
            </div>
        </div>
    </nav>


</body>
</html>