<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logs</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="grid-bottom"></div>
    
    <div class="profile-container">
        <h2 class="profile-title" style="padding-bottom: 100px;">cut down trees. trees that have been cut down</h2>
        <ul>
            {% for message_file in message_files %}
                <li><a href="{{ url_for('view_message', filename=message_file) }}">{{ message_file }}</a></li>
            {% endfor %}
        </ul>
        <div class="bottom-text-container">
            <a href="/" class="bottom-text">aeris</a>
        </div>
    </div>

    <nav class="nav-container">
        <a href="/" class="home-link">aeris</a>
        <div class="nav-buttons">
            <div class="dropdown">
                <button class="dropdown-btn">who we are</button>
                <div class="dropdown-content">
                    <a href="/static/elizabeth.html">elizabeth</a>
                    <a href="/static/gavin.html">gavin</a>
                    <a href="/static/kaylee.html">kaylee</a>
                    <a href="/static/luke.html">luke</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropdown-btn">our projects</button>
                <div class="dropdown-content">
                    <a href="#" id="aetas-link">aetas</a>
                    <a href="#" id="lab1-link">lab one</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
